<a href="manager.php?action=home">Povratak u Meni</a>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Email</th>
			<th>Role</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.username }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.role }}</td>
				<td>
					<a href="?action=delete&id={{ user.id }}" onclick="return confirm('Da li ste sigurni da želite da obrišete?');">Obriši</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">Nema korisnika.</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<a href="?action=add">Dodaj novog korisnika</a>
