<h1>Pretraga 훾ajeva</h1>
<form method="POST">
	<input type="text" name="search" value="{{ search }}" placeholder="Pretra탑i 훾ajeve">
	<button type="submit">Pretra탑i</button>
</form>

{% if teas is not empty %}
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Ime</th>
				<th>Tip</th>
				<th>Cena</th>
				<th>Opis</th>
			</tr>
		</thead>
		<tbody>
			{% for tea in teas %}
				<tr>
					<td>{{ tea.id }}</td>
					<td>{{ tea.name }}</td>
					<td>{{ tea.type }}</td>
					<td>{{ tea.price }}</td>
					<td>{{ tea.description }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Nema rezultata za pretragu.</p>
{% endif %}


<a href="manager.php">Vrati se na meni</a>
